{{! header.mustache }}
<head>
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/broadcast.css">

    <title>{{$title}}Default title{{/title}}</title>
</head>
